body{
	background-image: linear-gradient(135deg, #8F3A84, #ED61A9, #8F3A84, #ED61A9, #8F3A84);
	margin: 0;
	text-align: center;
	align-content: center;
}

header{
	padding-bottom:30px;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}
header h1{
	font-size: 60px;
	font-family: 'Fondamento', cursive;
	font-style: italic;
	-ms-flex-align: center;
}

.divA {
	width: 75%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
	border: 3px solid rgba(0,0,0,0.5);
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.divA label {
	font-size: 40px;
	font-family: 'Parisienne', cursive;
	background-color: #8F3A84;
	color: aliceblue;
	border: 2px dashed rgba(0,0,0,0.5);
	border-radius: 10px;
	width: 400px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.divA input[type="number"]{
	font-size: 40px;
	width: 60px;
	text-align: center;
	background-color: aliceblue;
}
.divB,
.divD{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.divC{
	display: flex;
	flex-direction: column;
}

.divD label {
	display: flex;
	flex-direction: column;
}
.divD input[type="checkbox"] {
	flex-direction: row;
	margin: 15px;
	width: 50px;
}

tr{
	border-radius: 5px;
}
h2{
	font-size: 50px;
	font-family: 'Fondamento', cursive;
	font-style: italic;
	text-decoration: underline;
}

.divE {
	width: 75%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 150px;
	border: 3px solid rgba(0,0,0,0.5);
	border-radius: 30px;
	padding: 50px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.divE div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.divE label {
	font-size: 60px;
	background-color: #8F3A84;
	color: aliceblue;
	border: 2px dashed rgba(0,0,0,0.5);
	border-radius: 10px;
	padding: 10px;
	margin: 15px 10px 20px;
}
.divE button {
	font-size: 40px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
}

.eq {
	margin-top: 15px;
	width: 250px;
	height: 200px;
	font-size: 30px;
}

footer{
	background-color: #8F3A84;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: aliceblue;
	font-size: 40px;
	font-family: 'Parisienne', cursive;
	padding-top: 40px;
	padding-bottom: 70px;
	width: 100%;
}
.link{
	color: aliceblue;
}
.link:hover{
	color: #7307A3;
}