:root {
	--fontHeader: 'Fondamento', cursive;
	--fontLabel: 'Parisienne', cursive;
	--fontColor: aliceblue;
	--primaryBackColor: #8F3A84;
	--secondaryBackColor: #ED61A9;
	--borderColorLabel: rgba(0, 0, 0, 0.5);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
main {
	background-image: linear-gradient(135deg, var(--primaryBackColor), var(--secondaryBackColor), var(--primaryBackColor), var(--secondaryBackColor), var(--primaryBackColor));	
}
header{
	margin-bottom: 3rem;
	padding-bottom:1rem;
	background-color: var(--primaryBackColor);
	color: var(--fontColor);
	text-align: center;
}
header h1{
	font-size: 4rem;
	font-family: var(--fontHeader);
	font-style: italic;
}

.main-section {
	width: 90%;
	max-width: 1000px;
	margin: 1rem auto;
	margin-bottom: 20px;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--secondaryBackColor);
	border: 3px solid var(--borderColorLabel);
	border-radius: 30px;
}

.section-title {
	margin: 0 auto;
	padding: 0.5rem;
	font-size: 2rem;
	font-family: var(--fontHeader);
	text-align: center;
}

.alicia-stats__1,
.alicia-stats__2,
.alicia-modificadores{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.main-section .etiquetas1,
.main-section .etiquetas2,
.main-section .etiquetas3,
.main-section .etiquetas4,
.main-section .etiquetas5,
.main-section .etiquetas6,
.main-section .etiquetas7,
.main-section .etiquetas8,
.main-section .etiquetas9,
.main-section .etiquetas10 {
	width: 90%;
	min-height: 4rem;
	margin: 1rem auto;
	padding: .5rem 2rem;
	font-size: 2rem;
	font-family: var(--fontLabel);
	color: var(--fontColor);
	text-align: center;
	background-color: var(--primaryBackColor);
	border: 2px dashed var(--borderColorLabel);
	border-radius: 10px;
}
.etiquetas6 label {
	display: inline-block;
}
.eq {
	margin-top: 15px;
	width: 90%;
	height: 75%;
	min-height: 7rem;
	font-size: 2rem;
}

.imagen img {
	width: 50%;
}

.main-section .container {
	width: 100%;
	display: flex;
}
.main-section .contenedor-dados {
	width: 30%;
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: var(--primaryBackColor);
	border: 2px dashed var(--borderColorLabel);
	border-radius: 10px;
	text-align: center
}

.main-section .contenedor-dados label {
	font-size: 3rem;
	font-family: var(--fontLabel);
	color: var(--fontColor);
}

.main-section input[type="number"]{
	font-size: 2rem;
	width: 4rem;
	text-align: center;
	background-color: var(--fontColor);
}

.alicia-modificadores input[type="checkbox"] {
	width: 50px;
}

.main-section .imagen {
	margin-left: 33%;
}

.main-section .dados__roll {
	margin: 1.5rem auto;
}
.main-section .roll {
	width: 15rem;
	height: 5rem;
	font-size: 2.5rem;
	font-family: var(--fontLabel);
	font-weight: 900;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);
}

/* Footer */
footer{
	width: 100%;
	padding: 1rem 2rem 3rem;
	background-color: var(--primaryBackColor);
	color: var(--fontColor);
	font-size: 3rem;
	font-family: var(--fontLabel);
	text-align: center;
}
.link{
	color: var(--fontColor);
}
.link:hover{
	color: var(--secondaryBackColor);
}
footer p {
	margin-top: 1	rem;
}