body{
	background-image: linear-gradient(135deg, #8F3A84, #ED61A9, #8F3A84, #ED61A9, #8F3A84);
	margin: 0;
	text-align: center;
	align-content: center;
}

header{
	padding-bottom:3em;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
}
header h1{
	font-size: 2em;
	font-family: 'Fondamento', cursive;
	font-style: italic;
	-ms-flex-align: center;
	margin-right: 1em;
	margin-left: 4em;
}
/* imagen gato */
.cheshire{
	height: 8em;
	width: 6em;
	border-radius: 10px;
	-ms-flex-align: end;
}

.divA{
	width: 75%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 20px;
	border: 3px solid rgba(0,0,0,0.5);
	border-radius: 30px;
	padding: 2em 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.divA label {
	font-size: 2rem;
	font-family: 'Parisienne', cursive;
	background-color: #8F3A84;
	color: aliceblue;
	border: 2px dashed rgba(0,0,0,0.5);
	border-radius: 10px;
	width: 18rem;
	padding: 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.divA input[type="number"]{
	font-size: 1rem;
	width: 3rem;
}
.divB,
.divD{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.divC{
	display: flex;
	flex-direction: column;
}

.divD label {
	display: flex;
	flex-direction: column;
}
.divD input[type="checkbox"] {
	flex-direction: row;
	margin: 0.5rem;
}

tr{
	border-radius: 5px;
}
h2{
	font-size: 2em;
	font-family: 'Fondamento', cursive;
	font-style: italic;
	text-decoration: underline;
}


/*imagen Alicia*/
.alice{
	height: 1.5em;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	font-size: 2em;
	font-family: 'Parisienne', cursive;
	padding-top: 3em;
	padding-bottom: 2em;
	width: 100%;
}
.link{
	color: #000;
}
.link:hover{
	color: #7307A3;
}